.label {
  @apply block relative text-left;

  > .placeholder {
    @apply text-xs text-icon-grey pointer-events-none absolute top-1/2 left-3 transition-transform transform-gpu -translate-y-1/2;
  }

  .icon {
    @apply border-none text-primary absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer outline-none focus:outline-none;
  }

  > input {
    @apply placeholder-transparent block bg-input-grey p-2.5 w-full border-2 border-input-grey rounded-lg focus:bg-white focus:outline-none;

    &:focus,
    &:not(:placeholder-shown) {
      @apply pt-4 pb-1;
    }

    &:not(:placeholder-shown):invalid {
      @apply border-warning;
    }

    &:focus ~ .placeholder,
    &:not(:placeholder-shown) ~ .placeholder {
      @apply -translate-y-full;
    }
  }
}
